* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #f1f1f1;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
body .btn {
  width: 280px;
  height: 80px;
  background-color: #dfe6e9;
  border-radius: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: relative;
  cursor: pointer;
  transition: 0.3s linear;
}
body .btn:hover {
  transform: scale(1.1);
}
body .btn:hover span {
  transform: translate(-100%);
  transition-delay: 0.3s;
}
body .btn:hover a {
  opacity: 1;
  transform: translateX(0);
}
body .btn span {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #2d3436;
  color: #f1f1f1;
  text-align: center;
  line-height: 80px;
  z-index: 666;
  transition: 0.6s linear;
  border-radius: 40px;
  font-size: 20px;
}
body .btn span i {
  font-size: 20px;
  margin-right: 10px;
}
body .btn a {
  flex: 1;
  font-size: 26px;
  color: #2d3436;
  text-align: center;
  text-decoration: none;
  transform: translateX(-100%);
  opacity: 0;
  transition: 0.3s linear;
}
body .btn a:nth-of-type(1) {
  transition-delay: 1s;
  color: #60c3eb;
}
body .btn a:nth-of-type(2) {
  transition-delay: 0.8s;
  color: yellowgreen;
}
body .btn a:nth-of-type(3) {
  transition-delay: 0.6s;
  color: #4b4b9c;
}
body .btn a:nth-of-type(4) {
  transition-delay: 0.4s;
  color: skyblue;
}
body .btn a .iconfont {
  font-size: 25px;
}
